/* Styles live in ./styles/styles */


/* ICONS */
/* .fa-trash-alt {
    color: red;
  }
  
  .fa-check-circle {
    color: green;
  }
  
  .fa-minus-circle {
    color: grey;
  }
  
  .delete-point-button {
    cursor: pointer;
  }
  
  .DateRangePickerInput {
    border-radius: 3px;
    border: 1px solid #dedede;
  } */